* {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}